body
{
 
  background-color: #030303;
  overflow: hidden;
}
#playButton {
  display: inline-block;
  margin: 0 3% 0 0;
  color:purple;
}
#pause {
  display: inline-block;
  margin: 0 3% 0 0;
  color:purple;
}
#stopButton {
  display: inline-block;
  margin: 0 3% 0 0;
  color:purple;
}

#nextButton {
  display: inline-block;
  margin: 0 3% 0 0;
  color:purple;
}

#backButton {
  display: inline-block;
  margin: 0 3% 0 0;
  color:purple;
}



